body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-bar {
}

.content {
  display: flex;
  overflow: hidden;
  height: 80vh;
  padding-top: 30px;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.book {
  overflow: auto;
  height: auto;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  float: left;
  max-width: 50%;
  margin : 10px;
  will-change: overflow;
}

.vl::-webkit-scrollbar{
  display: none;
}

.workspace{
  height: 100%;
}

.timeline{
  height: 20%;
}

.vl {
  border-left: 6px solid green;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: 40px;
  top: 0;
}

.h2 {
  fontSize: 24;
  padding-top: 16;
  padding-left: 16;
  marginBottom: 12;
  fontWeight: 400;
}

.slider-wrapper {
  width: 80%;
  height: 30px;
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row {
  display: flex;
  text-align: center;
}

.col {
  width: 50%;
}

.columnSlider {
  flex: 80%;
  margin: auto;
}

.columnIcon {
  flex: 10%;
  margin: auto;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
}

